@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Electrolize", serif;
}


.header-link {
  @apply flex flex-col items-center hover:text-[#40a9ff] transition-all;
}

.active-header-link {
  @apply text-blue-700;
}

.header-link-icon {
  @apply text-xl md:text-2xl;
}
.header-link-span {
  @apply text-[10px] md:text-xs;
}
